@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primaryColor: #8207c5;
  --primaryColor-rgb: 130, 7, 197;
  --primaryColor-dark: #5a0b8c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}